@model EditVehicleViewModel

<div class="row">
    <div class="form-group col-md-6">
        <label>Bilmärke:<small style="color:red"> *</small></label>
        <select asp-for="Vehicle.BrandId" asp-items="Model.Brands" class="form-control" required></select>
    </div>
    <div class="form-group col-md-6">
        <label>Modell:<small style="color:red"> *</small></label>
        <input asp-for="Vehicle.Model" class="form-control" required />
    </div>

</div>
<div class="row">
    <div class="form-group col-md-6">
        <label>Modell Beskrivning:<small style="color:red"> *</small></label>
        <input asp-for="Vehicle.ModelDescription" class="form-control" required />
    </div>
    <div class="form-group col-md-6">
        <label>Anläggning:<small style="color:red"> *</small></label>
        <select asp-for="Vehicle.DealerShipId" asp-items="Model.DealerShips" class="form-control" required></select>
    </div>

</div>
<div class="row">
    <div class="form-group col-md-6">
        <label>Registeringsnummer:<small style="color:red"> *</small></label>
        <input asp-for="Vehicle.RegistrationNumber" class="form-control" required />
    </div>
    <div class="form-group col-md-6">
        <label>Pris(ink moms):<small style="color:red"> *</small></label>
        <input asp-for="Vehicle.Price" class="form-control" required />
    </div>
</div>
<div class="row">

    <div class="form-group col-md-6">
        <label>Årsmodell:<small style="color:red"> *</small></label>
        <select asp-for="Vehicle.Year" class="form-control" required>

            @for (var i = DateTime.Now.AddYears(+1).Year; i >= 1980; i--)

            {

                <option>@i</option>
            }
            <option value="1970">70-talet</option>
            <option value="1960">60-talet</option>
            <option value="1950">50-talet</option>
            <option value="1885">40-talet eller äldre</option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label>Antal Kilometer:<small style="color:red"> *</small></label>
        <input asp-for="Vehicle.Mileage" class="form-control" required />
    </div>

</div>
<div class="row">
    <div class="form-group col-md-6">
        <label>Fordonstyp:<small style="color:red"> *</small></label>
        <select asp-for="Vehicle.Body" asp-items="FilterListItems.Body" class="form-control" required></select>
    </div>
    <div class="form-group col-md-6">
        <label>Färg:<small style="color:red"> *</small></label>
        <input asp-for="Vehicle.Color" class="form-control" required />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label>Växellåda:<small style="color:red"> *</small></label>
        <select asp-for="Vehicle.Transmission" asp-items="FilterListItems.Transmission" class="form-control" required></select>
    </div>
    <div class="form-group col-md-6">
        <label>Bränsle:<small style="color:red"> *</small></label>
        <select asp-for="Vehicle.Fuel" asp-items="FilterListItems.Fuel" class="form-control" required></select>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label>Hästkrafter:<small style="color:red"> *</small></label>
        <input asp-for="Vehicle.Horsepower" class="form-control" required />
    </div>
</div>
@*<div class="form-group">
        <label>Klicka i rutan om bilen är begagnad</label>
        <input type="checkbox" asp-for="Vehicle.Used" class="form-control" />
    </div>*@
<div class="form-group custom-control custom-checkbox">
    <input type="checkbox" asp-for="Vehicle.Used" class="custom-control-input" id="used">
    <label class="custom-control-label" for="used">Klicka i denna rutan om bilen är begagnad</label>
</div>
@*<div class="form-group">
        <label>Klicka i rutan om bilen är leasebar</label>
        <input type="checkbox" asp-for="Vehicle.Lease" class="form-control" />
    </div>*@
<div class="form-group custom-control custom-checkbox">
    <input type="checkbox" asp-for="Vehicle.Lease" class="custom-control-input" id="leasable">
    <label class="custom-control-label" for="leasable">Klicka i denna rutan om bilen är leasebar</label>
</div>
<div class="form-group">
    <label for="images">Ladda upp bild:</label><br />
    <input type="file" name="images" id="images" multiple />
</div>

@*<div class="row">
        <div id="myDIV" class="form-group col-md-6">
            <label>Lägg till extrautrustning:</label>
            <input type="text" id="myInput" class="form-control" /><span onclick="newElement()" class="btn btn-primary">Lägg till</span><br />
            <label>Tillagd utrustning:</label>
            <textarea type="text" id="attrtext" asp-for="Vehicle.Attributes" class="form-control"></textarea>
        </div>
    </div>*@
<div class="row">
    <div id="myDIV" class="form-group col-md-6">
        <label>Lägg till extrautrustning:</label>
        <div class="input-group">
            <input type="text" id="myInput" class="form-control" />
            <div class="input-group-append">
                <span onclick="newElement()" class="btn btn-primary">Lägg till</span>
            </div>
        </div>
        <label>Tillagd utrustning:</label>
        <textarea type="text" id="attrtext" asp-for="Vehicle.Attributes" class="form-control"></textarea>
    </div>
</div>
<div class="float-left">
    <button class="btn btn-primary" type="submit">Spara</button>
    <a asp-action="Index" class="btn btn-default">Avbryt</a>
</div>
<br />
