<div class="card">
    <div class="card-body">
        <div class="form-group">
            <form>
                <input class="form-control" type="search" name="SearchString" placeholder="Sök på version, utrustning, reg-nummer osv." aria-label="Sök">
                <button class="btn btn-primary" type="submit">Sök</button>
            </form>
        </div>
    </div>
</div>