@model EditVehicleViewModel
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h2>Skapa nytt fordon</h2>
<hr />
<form asp-controller="Admin" asp-action="Create" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Vehicle.DateAdded" />
    <partial name="_AddEditForm" />
</form>