@model EditVehicleViewModel
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h2>Skapa nytt fordon</h2>

<form asp-controller="admin" asp-action="create" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Vehicle.DateAdded" />
    <partial name="_AddEditForm" />
</form>