@model EditVehicleViewModel
@{
    ViewData["Title"] = "Redigera Fordon";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<script>
    // Create a "close" button and append it to each list item
    //var myNodelist = document.getElementsByTagName("LI");
    //var i;
    //for (i = 0; i < myNodelist.length; i++) {
    //    var span = document.createElement("SPAN");
    //    var txt = document.createTextNode("\u00D7");
    //    span.className = "close";
    //    span.appendChild(txt);
    //    myNodelist[i].appendChild(span);
    //}

    // Click on a close button to hide the current list item
    //var close = document.getElementsByClassName("close");
    //var i;
    //for (i = 0; i < close.length; i++) {
    //    close[i].onclick = function () {
    //        var div = this.parentElement;
    //        div.style.display = "none";
    //    }
    //}

    // Add a "checked" symbol when clicking on a list item
    //var list = document.querySelector('ul');
    //list.addEventListener('click', function (ev) {
    //    if (ev.target.tagName === 'LI') {
    //        ev.target.classList.toggle('checked');
    //    }
    //}, false);

    // Create a new list item when clicking on the "Add" button
    //function newElement() {
    //    var li = document.createElement("LI");
    //    var inputValue = document.getElementById("myInput").value;
    //    var t = document.createTextNode(inputValue);
    //    li.appendChild(t);
    //    if (inputValue === '') {
    //        alert("You must write something!");
    //    } else {
    //        document.getElementById("myUL").appendChild(li);
    //    }
    //    document.getElementById("myInput").value = "";

    //    var span = document.createElement("SPAN");
    //    var txt = document.createTextNode("\u00D7");
    //    span.className = "close";
    //    span.appendChild(txt);
    //    li.appendChild(span);

    //    for (i = 0; i < close.length; i++) {
    //        close[i].onclick = function () {
    //            var div = this.parentElement;
    //            div.style.display = "none";
    //        }
    //    }
    //}

</script>
<h2>Edit</h2>
<form asp-action="Edit" method="post" class="col-md-4">
    <input type="hidden" asp-for="Vehicle.Id" />
    <input type="datetime" asp-for="Vehicle.DateUpdated" class="form-control" hidden />
    <div class="form-group">
        <label>Bilmärke</label>
        <select asp-for="Vehicle.BrandId" asp-items="Model.Brands" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Modell</label>
        <input asp-for="Vehicle.Model" class="form-control" />
    </div>
    <div class="form-group">
        <label>Modell Beskrivning</label>
        <input asp-for="Vehicle.ModelDescription" class="form-control" />
    </div>
    <div class="form-group">
        <label>Anläggning</label>
        <select asp-for="Vehicle.DealerShipId" asp-items="Model.DealerShips" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Registeringsnummer</label>
        <input asp-for="Vehicle.RegistrationNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label>Pris(ex moms)</label>
        <input asp-for="Vehicle.Price" class="form-control" />
    </div>
    <div class="form-group">
        <label>Årsmodell</label>
        <select asp-for="Vehicle.Year" class="form-control">

            @for (var i = DateTime.Now.AddYears(+1).Year; i >= 1980; i--)

            {

                <option>@i</option>
            }
            <option>70-talet</option>
            <option>60-talet</option>
            <option>50-talet</option>
            <option>40-talet eller äldre</option>
        </select>
    </div>
    <div class="form-group">
        <label>Antal Kilometer</label>
        <input asp-for="Vehicle.Mileage" class="form-control" />
    </div>
    <div class="form-group">
        <label>Fordonstyp</label>
        <select asp-for="Vehicle.Body" asp-items="FilterListItems.Body" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Färg</label>
        <input asp-for="Vehicle.Color" class="form-control" />
    </div>
    <div class="form-group">
        <label>Växellåda</label>
        <select asp-for="Vehicle.Transmission" asp-items="FilterListItems.Transmission" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Bränsle</label>
        <select asp-for="Vehicle.Fuel" asp-items="FilterListItems.Fuel" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Hästkrafter</label>
        <input asp-for="Vehicle.Horsepower" class="form-control" />
    </div>
    <div class="form-group">
        <label>Klicka i rutan om bilen är begagnad</label>
        <input type="checkbox" asp-for="Vehicle.Used" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Vehicle.ImageUrl"></label>
        <textarea asp-for="Vehicle.ImageUrl" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Klicka i rutan om bilen är leasebar</label>
        <input type="checkbox" asp-for="Vehicle.Lease" class="form-control" />
    </div>

    <input id="myVal" />
        <button type="button" onclick="myFunction()">Insert option</button>
    <select id="mySelect" size="8">
            <option>Apple</option>
            <option>Pear</option>
            <option>Banana</option>
            <option>Orange</option>
        </select>
    <script>
            function myFunction() {
                var x = document.getElementById("mySelect");
                var option = document.createElement("option");
                option.text = document.getElementById("myVal".toString());
                

                x.add(option);
            }
        </script>
    @*<div id="myDIV" class="form-group">
                <label>Extrautrustning</label>
                <input type="text" id="myInput" class="form-">
                <input type="button" class="btn btn-secondary" value="Lägg till" onclick="newElement()"/>
            </div>
        <input id="myUL" />*@
    <div class="pull-right">
        <button class="btn btn-primary" type="submit">Spara</button>
        <a asp-action="Index" class="btn btn-default">Avbryt</a>
    </div>

</form>
